body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:306px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:476px;
}
#u8 {
  position:absolute;
  left:20px;
  top:72px;
  width:266px;
  height:476px;
}
#u9 {
  position:absolute;
  left:2px;
  top:230px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u10 {
  position:absolute;
  left:48px;
  top:232px;
  width:59px;
  height:18px;
  color:#F2F2F2;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u12 {
  position:absolute;
  left:48px;
  top:260px;
  width:26px;
  height:18px;
  color:#F2F2F2;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#E4E4E4;
}
#u14 {
  position:absolute;
  left:233px;
  top:278px;
  width:13px;
  height:23px;
  font-size:20px;
  color:#E4E4E4;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u16 {
  position:absolute;
  left:48px;
  top:324px;
  width:30px;
  height:36px;
  color:#F2F2F2;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:2px;
}
#u18 {
  position:absolute;
  left:48px;
  top:301px;
  width:198px;
  height:1px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-8px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:2px;
}
#u20 {
  position:absolute;
  left:48px;
  top:359px;
  width:198px;
  height:1px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-8px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u22 {
  position:absolute;
  left:96px;
  top:284px;
  width:102px;
  height:18px;
  color:#E4E4E4;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u24 {
  position:absolute;
  left:96px;
  top:342px;
  width:73px;
  height:18px;
  color:#E4E4E4;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:48px;
  top:388px;
  width:198px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:48px;
  top:428px;
  width:198px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#D7D7D7;
}
#u30 {
  position:absolute;
  left:212px;
  top:511px;
  width:52px;
  height:15px;
  font-size:13px;
  color:#D7D7D7;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u32 {
  position:absolute;
  left:187px;
  top:495px;
  width:15px;
  height:16px;
  color:#D7D7D7;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:618px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:618px;
}
#u35 {
  position:absolute;
  left:2px;
  top:301px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
